@keyframes pulse{
    0%{
        outline: purple 2px solid;
        outline-offset: 0px;
    }
    100%{
        outline: rgba(128, 0, 128, 0) 2px solid;
        outline-offset: 30px;
        
    }
}

.hero{
    width: 80%;
    margin: 100px auto;
    display: flex;
    gap: 300px;
    margin-top: 200px;

}

.hero .text{
    margin-top: 100px;
}
.hero .text h1{
    font-size: 2rem;
}

.hero .text p{
    font-size: 2rem;

}


.hero .images img{
    border-radius: 60%;
    animation: pulse 3s infinite;
}




.hero .text .email{
    margin-top: 20px;
    display: flex;
}

.hero .text .email p{
    margin-top: 20px;
    margin-left: 20px;
    font-size: 1.5rem;
    color: black;
}

.hero .text .email a{
    text-decoration: none;
}
.hero .text .email img{
    width:40px;
}

.hero .text .number img{
    margin-top:10px;
    width:40px;
}

.hero .text .number{
    display: flex;
}

.hero .text .number p{
    font-size: 1.5rem;
    margin-top: 20px;
    margin-left: 20px;
    color: black;
}

.hero .text .number a{
    text-decoration: none;
}

@media (max-width:600px){
    .hero{
        margin-top: 30px;
        flex-direction: column-reverse;
        gap: 0px;
    }
    .hero .text{
        text-align: center;
    }
    .hero .text h1{
        text-decoration: underline;
        font-size: 2rem;
        margin-bottom: 10px;
    }
    .hero .text p{
        font-size: 1.5rem;
    }
   
    .hero .images img{
        width: 100%;
    }

    .hero .text .email{
        margin-bottom: 10px;
    }
    .hero .text .number{
        margin-bottom: 10px;
    }
   .hero .text .email p{
        font-size:1.5rem;
   }

   .hero .text .number p{
        font-size:1.5rem;
   }
}