*{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header  {
   display: flex;
   margin: 0 auto;
   justify-content: center;
   width: 80%;
   top: 0;
   position: sticky;
   background-color:white;
}
header .headercontent{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

header h1{
    margin-top: 10px;
    font-size: 1.5rem;
}

nav{
    display: flex;
    font-size: 1.5rem;
    font-weight: bold;
    align-items: center;
}

nav a{
    margin-right: 10px;
    text-decoration: none;
    color: black;
}


nav a:hover{
    color:purple
}

nav.mobile-nav{
    left: 0px;
    top: 0px;
    position: fixed;
    flex-direction: column;
    background-color: white;
    height: 100vh;
    width: 100%;
    align-items: flex-start;
    display: none;
    padding: 40px;
    z-index: 999px;
}

img.open-menu{
    display: none;
}


header img{
   padding-right: 10px; 
   width: 55px
}

.desktop-only{
    display: flex;
}

/*Hero Section */
main section#Hero{
    width: 80%;
    margin: 80px auto;
}

main section#Hero .herocontent .Heroinfo {
    display: flex;
    flex-direction: column;
    
}

main section#Hero .herocontent {
    display: flex;
    justify-content: space-between;

}
main section#Hero h1{
    font-size: 1.2rem;
    font-weight: lighter;
}

main section#Hero h2{
    font-size: 4rem;
}

main section#Hero p{ 
    font-size: 1.5rem;
    margin-top: 20px;
    font-weight: lighter;
}

main section#Hero .buttons{
    margin-top: 40px;
    display: flex;
    gap: 20px;
}

main section#Hero a{ /*button*/
    background-color: purple;
    color: white;
    text-decoration:none;
    padding: 10px;
    border-radius: 10px;
    transition: all 0.5s ease
}

main section#Hero a:hover{
    color: black;
    background-color: white;
    border: solid 2px black;
    

}

main section#Hero div.images img{
    border-radius: 60%;
    outline: 3px solid purple;
    outline-offset: 10px;
    transition: outline-offset 4s;
}

main section#Hero div.images img:hover{
    outline-offset: 20px;
}

/*Project Section */
main section#Projects{
    width: 80%;
    margin: 100px auto;
}

main section#Projects h1{
    color: purple;
    margin-bottom: 20px;
    font-size: 2.5rem;
}

/*  project section */
main section#Projects div.projects{
    display:flex;
    flex-direction: row;
    gap: 30px;

}
main section#Projects .project img{
    width: 400px;
    height: 350px;
    transition: all 0.5s ease;
    object-fit: cover;
    box-shadow: 0px 0px 5px purple;
}


main section#Projects .project img:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 20px purple;
}



main section#Projects .project h2{
    margin-top: 20px;
}

main section#Projects .project p{
    font-size: 15px;
    margin-top: 20px;
    line-height: 1.5;
}

/*Experience section*/
main section#Experience{
    width: 80%;
    margin: 100px auto;
    margin-bottom: 20px;
}

main section#Experience h1{
    color: purple;
    margin-bottom: 20px;
    font-size: 2.5rem;
}

main section .experiences p{
    margin-left: 50px;
    font-size: 1.5rem;
    margin-top: 10px;
}

main section .experiences p:hover{
    cursor: pointer;
    color: purple;
}
main section .experiences{
    display: flex;
    gap: 150px;
}

main section .experiences .microsoft-info b{
    color: black;
    font-size: 1.5rem;
    font-weight: lighter;
}

main section .experiences .microsoft-info p{
    font-size: 1rem;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 0px;
}

main section .experiences .microsoft-info .duties p{
    font-size: 1.5rem;
    color: black;
}


/* Skills section */
main section#Skills {
    width: 80%;
    margin: 100px auto;

}

main section#Skills h1{
    color: purple;
    margin-bottom: 20px;
    font-size: 2.5rem;
}

main section#Skills .ListOfSkills{
    display: flex;
    gap: 300px;
}

main section#Skills .ListOfSkills ul{
   list-style-type: none;
   margin-top: 10px;
}

main section#Skills .ListOfSkills ul li{
    margin-top:10px;
}
/* Story Section */
main section#Story{
    width: 80%;
    margin: 100px auto;
}

main section#Story h1{
    color: purple;
    margin-bottom: 20px;
    font-size: 2.5rem;
}

main section#Story p{
    font-size: 20px;
    line-height: 1.5;
}

/*scroll to top */
#buttonToTop{
    position: fixed;
    right: 10px;
    bottom: 10px;
    background-color: white;
    border: none;
    z-index: 100;
    
}

#buttonToTop img{
    width: 55px;
}

#buttonToTop img:hover{
    cursor: pointer;
}

/* footer section  */

footer{
    width: 80%;
    margin: 80px auto;
    display: flex;
    justify-content: space-between;
}

footer .left a{
    margin-right: 10px;
    text-decoration: none;
    color: black;
    font-size:20px
}

footer .left a:hover{
    color:purple;
}

footer .left h3{
    margin-top: 60px;
}

footer .right p{
    margin-top: 60px;
}

footer .left .button{
    margin-top: 20px;
}

footer .left .button a{
    background-color: purple;
    color: white;
    text-decoration:none;
    padding: 8px;
    border-radius: 10px;
    transition: all 1s ease
}

footer .left .button a:hover{
    color: black;
    background-color: white;
    border: solid 2px black;
    
}


footer .right .images{
    display: flex;
    padding-left: 50px;
    gap: 16px;
}

footer .right .images img{
    width:30px;
    
}

/*respnsive section */

@media (max-width:600px){
    header{
        width: 90%;
        margin: auto;
    }
    header h1{
        font-size: 1rem;
        margin-top:
    }
    nav{
        font-size: 1rem;
    }

    header img{
        width: 40px;
        padding-right: 0px;
    }

    main section#Hero .herocontent{
        flex-direction: column-reverse;
        gap: 50px;

    }

    main section#Hero div.images {
        margin: 0px auto;
    }

    main section#Hero .herocontent .Heroinfo{
        text-align: center;
    }

    main section#Hero .herocontent .images img{
        width: 100%;
    }

    main section#Hero .buttons{
        margin: 0px auto;
        margin-top: 15px;
    }

    main section#Projects div.projects{
        flex-direction: column;
    }
    
    main section#Projects .projects img{
        width: 100%;
        border-radius: 10px;
    }

    main section .experiences{
        flex-direction: column;
    }
    main section .experiences .microsoft-info{
       border-color: purple;
       border-style: dashed;
       padding: 10px;
       border-radius: 10px;
    }
    main section .experiences{
        gap: 35px;
    }
    main section#Skills .ListOfSkills{
        flex-direction: column;
        text-align: center;
        gap: 80px;
    }
    
    footer .left .button a{
        font-size: 15px;
    }

    footer .right p{
        font-size: 15px;
        margin-left: 50px;
    }

    footer .left .button{
        display: flex;
        flex-direction: column;
        gap: 5px;
        text-align: center;
    }

    img.open-menu{
        display: block;
    }

    .desktop-only{
        display: none;
    }
}